.NavBar {
    background-color:#001F3F;
  }
  
.NavLink {
    color: #ffffff !important;
    padding: 5px;
}
.Active {
  text-decoration: underline #ff4136 6px;
}
.LinkContainer:hover{
  color: #ffffff;
  transition: color ease-in-out 0.3s;
}
.ToggleButton{
  background-color: white;
  width: fit-content;
}

@media (max-width: 768px) {
   .NavLinkText{
    font-size: 15px;
   }
   .AddandSign{
    display: flex;
    flex-direction: column;
   }
   .HomeIcon{
    margin-left: 15px;
   }
}


